* {
	padding: 0;
	margin: 0;
}

body {
	box-sizing: border-box;
	background: lightgray;
}
/* Entire container */

.jumbotron {
	margin: 1rem 5rem;
}

/* Left Box */
.input {
	padding: 2rem 1.4rem;
	display: flex;
	flex-direction: column;

	border-radius: 20px;
	margin: 1rem;
	box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.7),
		10px 10px 10px rgba(0, 0, 0, 0.3),
		inset 8px 8px 15px rgba(255, 255, 255, 0.7),
		inset 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.input textarea {
	border-radius: 10px;
	font-size: 1rem;
}

.input .options {
	display: flex;
	justify-content: space-between;
}

.btn {
	border-radius: 5px;
	padding: 0.5rem 1.3rem;
	font-size: 1.2rem;
	box-shadow: inset 2px 2px 5px #00000070, inset -2px -2px 5px #fff;
}

/* Right Box */
.thread {
	padding: 2rem 1.4rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border-radius: 10px;
	margin: 1rem;
}
.scroll {
	overflow-y: scroll;
	height: 450px;
}
.content {
	margin: 1rem 1.5rem;
	width: 75%;
	height: auto;
	border-radius: 25px;
	padding: 1rem 1.5rem;
	box-shadow: 5px 5px 5px #00000070, -5px -5px 5px #fff;

	/* -8px -8px 15px rgba(255, 255, 255, 0.7),
		10px 10px 10px rgba(0, 0, 0, 0.3),
		inset 8px 8px 15px rgba(255, 255, 255, 0.7),
		inset 10px 10px 10px rgba(0, 0, 0, 0.3); */
}

/* Utility Classes */

.bg-1 {
	background-color: beige;
}

.bg-2 {
	background-color: pink;
}
.bg-3 {
	background-color: azure;
}
.bg-4 {
	background-color: bisque;
}
.bg-5 {
	background-color: navajowhite;
}

/* Switch Toggler */

.switch-holder {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	border-radius: 10px;
	margin-bottom: 5px;
	box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.7),
		10px 10px 10px rgba(0, 0, 0, 0.3),
		inset 8px 8px 15px rgba(255, 255, 255, 0.7),
		inset 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.switch-label {
	width: 150px;
}
.switch-label i {
	margin-right: 5px;
}
.switch-toggle {
	height: 40px;
}
.switch-toggle input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	z-index: -2;
}
.switch-toggle input[type="checkbox"] + label {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 40px;
	border-radius: 20px;
	margin: 0;
	cursor: pointer;
	box-shadow: inset -8px -8px 15px rgba(255, 255, 255, 0.6),
		inset 10px 10px 10px rgba(0, 0, 0, 0.25);
}
.switch-toggle input[type="checkbox"] + label::before {
	position: absolute;
	content: "OFF";
	font-size: 13px;
	text-align: center;
	line-height: 20px;
	top: 8px;
	left: 8px;
	width: 45px;
	height: 25px;
	border-radius: 20px;
	background: #d1dad3;
	box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
		3px 3px 5px rgba(0, 0, 0, 0.25);
	transition: 0.3s ease-in-out;
}
.switch-toggle input[type="checkbox"]:checked + label::before {
	left: 50%;
	content: "ON";
	color: #fff;
	background-color: #0000ff;
	box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5), 3px 3px 5px #0000ff;
}
